.header {
    width: 100%;
    min-width: 1440px;
    height: 137px;
    display: flex;
    align-items: center;
    position: relative;
    background-color: #ffffff;
}

.header .logo {
    position: absolute;
    top: 0;
    left: 38px;
    width: 108px;
    height: 137px;
}

.header .line {
    position: absolute;
    top: 136px;
    width: 100%;
    height: 1px;
    background-color: #ccc;
}

.header .heading {
    position: absolute;
    top: 38px;
    left: 169px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 30px;
    color: #031c78;
}

.header .subheading {
    position: absolute;
    top: 82px;
    left: 169px;
    font-family: "Inter-Bold", Helvetica;
    font-weight: 700;
    font-size: 22px;
    color: #031c78;
}

.header .user-logout {
    position: absolute;
    top: 50%;
    left: 1160px;
    display: flex;
    gap: 20px;
    transform: translateY(-40%);
    font-size: 20px;
    color: #031c78;
}

.header .notification {
    position: absolute;
    top: 52px;
    left: 1090px;
    width: 40px;
    height: 40px;
    background-color: #e5f0f8;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header .notification i {
    font-size: 20px;
    color: #031c78;
}