 .header {
     background-color: #ffffff;
     overflow: hidden;
     width: 100%;
     min-width: 1440px;
     min-height: 2562px;
     display: flex;
     flex-direction: column;
     gap: 38px;
     position: relative;
 }

 .header .group {
     width: 1444px;
     height: 137px;
     position: relative;
 }

 .header .image {
     position: absolute;
     top: 0;
     left: 38px;
     width: 108px;
     height: 137px;
     aspect-ratio: 0.79;
     object-fit: cover;
 }

 .header .line {
     top: 136px;
     left: 0;
     width: 1440px;
     height: 1px;
     position: absolute;
     object-fit: cover;
 }

 .header .heading-c-ng-nh-p {
     position: absolute;
     top: 38px;
     left: 169px;
     width: 338px;
     height: 28px;
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #031c78;
     font-size: 30px;
     letter-spacing: 0;
     line-height: 28px;
 }

 .header .text-wrapper {
     position: absolute;
     top: 82px;
     left: 169px;
     height: 16px;
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #031c78;
     font-size: 22px;
     letter-spacing: 0;
     line-height: 16px;
 }

 .header .div {
     position: absolute;
     top: calc(50.00% - 8px);
     left: 1052px;
     width: 315px;
     height: 22px;
 }

 .header .vector {
     position: absolute;
     width: 58.33%;
     height: 25.00%;
     top: 58.99%;
     left: 17.32%;
 }

 .header .img {
     position: absolute;
     width: 33.33%;
     height: 33.33%;
     top: 8.99%;
     left: 29.82%;
 }

 .header .text-wrapper-2 {
     position: absolute;
     top: 2px;
     left: 25px;
     width: 142px;
     height: 20px;
     display: flex;
     align-items: center;
     justify-content: center;
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #031c78;
     font-size: 18px;
     letter-spacing: 0;
     line-height: 20px;
     white-space: nowrap;
 }

 .header .vector-2 {
     position: absolute;
     width: 33.33%;
     height: 100%;
     top: -4.46%;
     left: -4.44%;
 }

 .header .vector-3 {
     position: absolute;
     width: 27.78%;
     height: 55.56%;
     top: 17.76%;
     left: 67.78%;
 }

 .header .vector-4 {
     position: absolute;
     width: 66.66%;
     height: 0;
     top: 45.55%;
     left: 28.89%;
 }

 .header .text-wrapper-3 {
     position: absolute;
     top: calc(50.00% - 10px);
     left: calc(50.00% + 16px);
     width: 93px;
     height: 16px;
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #031c78;
     font-size: 18px;
     line-height: 20px;
     letter-spacing: 0;
 }

 .header .frame {
     position: absolute;
     top: 52px;
     left: 982px;
     width: 40px;
     height: 40px;
     display: flex;
     align-items: center;
     justify-content: center;
     background-color: #e5f0f8;
     border-radius: 50%;
 }

 .header .clarity-notification {
     width: 24px;
     height: 24px;
     display: flex;
     align-items: center;
     justify-content: center;
 }

 .header .clarity-notification i {
     font-size: 20px;
     color: #031c78;
 }

 .header .vector-5 {
     position: absolute;
     width: 82.78%;
     height: 81.04%;
     top: 4.93%;
     left: 8.47%;
 }

 .header .vector-6 {
     position: absolute;
     width: 14.58%;
     height: 6.35%;
     top: 88.89%;
     left: 42.56%;
 }

 .header .vector-7 {
     position: absolute;
     width: 100%;
     height: 100%;
     top: 97362.50%;
     left: 22295.83%;
 }

 .header .frame-2 {
     width: 1440px;
     height: 2387px;
     position: relative;
     overflow-y: scroll;
 }

 .header .frame-2::-webkit-scrollbar {
     width: 0;
     display: none;
 }

 .header .frame-3 {
     position: absolute;
     top: 0;
     left: 0;
     width: 1440px;
     height: 479px;
     background-image: url(./img/image-14.png);
     background-size: cover;
     background-position: 50% 50%;
 }

 .header .rectangle {
     position: absolute;
     top: 0;
     left: 0;
     width: 1440px;
     height: 479px;
     background-color: #000000;
     opacity: 0.4;
 }

 .header .text-wrapper-4 {
     position: absolute;
     top: 197px;
     left: 482px;
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #ffffff;
     font-size: 50px;
     letter-spacing: 5.50px;
     line-height: 48.7px;
     white-space: nowrap;
 }

 .header .p {
     position: absolute;
     top: 259px;
     left: 122px;
     font-family: "Inter-Regular", Helvetica;
     font-weight: 400;
     color: #ffffff;
     font-size: 25px;
     letter-spacing: 2.75px;
     line-height: 24.3px;
     white-space: nowrap;
 }

 .header .banner {
     position: absolute;
     top: 0;
     left: 0;
     width: 1440px;
     height: 479px;
 }

 .user-info {
     display: flex;
     align-items: center;
     gap: 8px;
     position: relative;
     margin-left: 40px;
     white-space: nowrap;
 }

 .user-info .SVG {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 20px;
     height: 20px;
 }

 .user-info .SVG i {
     font-size: 18px;
     color: #031c78;
 }

 .user-info .username {
     font-family: "Inter-Bold", Helvetica;
     font-weight: 700;
     color: #031c78;
     font-size: 18px;
 }

 .logout-info {
     display: flex;
     align-items: center;
     color: #031c78;
     font-weight: 500;
     position: absolute;
     top: 2px;
     right: 60px;
 }

 .logout-info .SVG i {
     font-size: 18px;
 }

 .logout-info:hover {
     opacity: 0.8;
 }