<div style="height: 1000px;" class="page notification-list">
  
    <div class="page-header">
      <input type="text" id="searchInput" placeholder="Tìm kiếm...">
      <div class="actions">
        <div class="btn-group">
          <button id="btnCreate" class="btn-primary" data-nav="notification-create">+ Tạo thông báo</button>
          <!-- <button id="btnSort" class="btn-sort">Sắp xếp</button> -->
           <div class="sort-dropdown">
          <button id="btnSort" class="btn-sort-dropdown">
            Sắp xếp <svg width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2">
              <path d="M6 9l6 6 6-6"/>
            </svg>
          </button>
          <div class="dropdown-menu" id="sortMenu">
            <button class="dropdown-item" data-sort="newest">
              Mới nhất trước
            </button>
            <button class="dropdown-item" data-sort="oldest">
              Cũ nhất trước
            </button>
          </div>
        </div>
        </div>
      </div>
      </div>
      <div id="notificationContainer">
      </div>
    </div>
    