<div class="notification-item">
    <div class="notif-badge {{typeClass}}">{{typeLabel}}</div>
    <div class="notif-body">
      <h4>{{title}}</h4>
      <p><strong>Xin chào {{receiver}},</strong></p>
      <p>{{content}}</p>
      <!-- <small>Đã đăng ký tham gia sự kiện "{{event}}"</small> -->
    </div>
    <div class="notif-time">{{time}}</div>
  </div>
  