<div class="TRANG-CH">
    <div class="frame-2">
        <div class="rectangle-8"></div>
        <div class="text-wrapper-30">Thông tin liên hệ</div>
        <div class="text-wrapper-31">Kết nối</div>
        <div class="text-wrapper-32">Các liên kết khác</div>
        <div class="text-wrapper-33">kinhtedanang@due.edu.vn</div>
        <div class="text-wrapper-34">(0236) 383-6169</div>
        <p class="text-wrapper-35">71 Ngũ Hành Sơn, TP. Đà Nẵng</p>
        <div class="ri-facebook-fill"><i class="fa-brands fa-facebook-f"></i></div>
        <div class="typcn-social">
            <div class="vector-20"><i class="fa-brands fa-linkedin-in"></i></div>
        </div>
        <div class="simple-line-icons"><i class="fa-brands fa-instagram"></i></div>
        <div class="ion-social-youtube"><i class="fa-brands fa-youtube"></i></div>
        <div class="img-wrapper"><i class="fa-solid fa-location-dot"></i></div>
        <div class="fluent-mail-wrapper">
            <div class="fluent-mail"><i class="fa-solid fa-envelope"></i></div>
        </div>
        <div class="mdi-phone-wrapper">
            <div class="mdi-phone">
                <i class="fa-solid fa-phone"></i>
            </div>
        </div>
        <div class="vector-26"><i class="fa-brands fa-twitter"></i></div>
        <div class="frame-21">
            <div class="frame-22">
                <div class="material-symbols"><i class="fa-solid fa-caret-right"></i></div>
                <div class="text-wrapper-36">Elearning</div>
            </div>
            <div class="frame-22">
                <div class="material-symbols"><i class="fa-solid fa-caret-right"></i></div>
                <div class="text-wrapper-36">Thư viện</div>
            </div>
            <div class="frame-23">
                <div class="material-symbols"><i class="fa-solid fa-caret-right"></i></div>
                <div class="text-wrapper-36">Email</div>
            </div>
        </div>
        <p class="text-wrapper-37">Trường Đại Học Kinh Tế Đà Nẵng</p>
        <img class="image-3" src="assets/images/logo_Due.png" />
        <div class="rectangle-9"></div>
        <div class="frame-24">
            <div class="text-wrapper-38">Enter your email</div>
        </div>
        <div class="frame-25">
            <div class="text-wrapper-39">Đăng nhập</div>
        </div>
        <p class="text-wrapper-40">
            Nhận thông tin mới nhất về sự kiện workshop, seminar, hội thảo thú vụ trực tiếp qua email.
        </p>
        <div class="footer-line-horizontal"></div>
        <div class="mingcute-copyright">
            <div class="group-3">
                <div class="vector-8"><i class="fa-regular fa-copyright"></i></div>
            </div>
        </div>
        <div class="text-wrapper-41">
            2025 - All Rights Reserved
            <span class="line-vertical"></span>
            Bản quyền Trường Đại học Kinh Tế Đà Nẵng
        </div>
    </div>
</div>