<div class="header">
  <div class="group">
    <img class="image" src="assets/images/logo_Due.png" />
    <hr class="line">
    <div class="heading-c-ng-nh-p">Cổng Sự Kiện</div>
    <p class="text-wrapper">Trường Đại học Kinh tế - Đại học Đà Nẵng</p>
    <div class="div">
      <div class="user-info">
        <div class="SVG">
          <i class="fa-solid fa-user"></i>
        </div>
        <span class="username">Nguyễn Minh</span>
      </div>
      <div class="logout-info">
        <div class="SVG">
          <i class="fa-solid fa-right-from-bracket"></i>
        </div>
        <span class="text-wrapper-3">Đăng xuất</span>
      </div>
    </div>
    <div class="frame">
      <div class="clarity-notification">
        <i class="fa-solid fa-bell"></i>
      </div>
    </div>
  </div>
  <div class="frame-2">
    <div class="frame-3">
      <img class="banner" src="assets/images/banner.png" />
      <div class="rectangle"></div>
      <div class="text-wrapper-4">SỰ KIỆN TẠI DUE</div>
      <p class="p">
        Khám phá và đăng ký tham gia các workshop, seminar và hội thảo chuyên môn
      </p>
    </div>
  </div>
</div>
