<div class="TRANG-CH">
    <div class="frame-2">
        <div class="frame-4">
            <img class="image-2" src="assets/images/event_1.png" />
            <div class="frame-5">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-5">18/10/2025</div>
            </div>
            <div class="frame-6">
                <div class="rectangle-3"></div>
                <div class="text-wrapper-6">Sắp diễn ra</div>
            </div>
            <p class="text-wrapper-7">Lập kế hoạch kinh doanh trên 1 trang giấy</p>
            <p class="text-wrapper-8">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
            <div class="div-wrapper">
                <div class="text-wrapper-9">Workshop</div>
            </div>
            <div class="mingcute-time-line">
                <div class="group-3">
                    <i class="fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="element">10:00 -12:30</div>
            <div class="text-wrapper-10">Hội trường A</div>
            <div class="text-wrapper-11">30/50</div>
            <div class="basil-location">
                <div class="group-4">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <div class="people-icon">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <p class="text-wrapper-12">Khoa Thống kê - Tin học</p>
            <div class="frame-7">
                <div class="text-wrapper-13">Đăng kí tham gia</div>
            </div>
        </div>
        <div class="frame-8">
            <div class="background">
                <div class="k-nng-lnh-o-hiu-qu"></div>
            </div>
            <img class="image-2" src="assets/images/event_3.png" />
            <div class="frame-5">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-5">18/10/2025</div>
            </div>
            <div class="frame-9">
                <div class="rectangle-4"></div>
                <div class="text-wrapper-6">Đang diễn ra</div>
            </div>
            <p class="text-wrapper-14">Kỹ năng lãnh đạo hiệu quả</p>
            <p class="text-wrapper-15">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
            <div class="div-wrapper">
                <div class="text-wrapper-9">Workshop</div>
            </div>
            <div class="group-wrapper">
                <div class="group-3">
                    <i class="fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="element-2">10:00 -12:30</div>
            <div class="text-wrapper-16">Hội trường A</div>
            <div class="text-wrapper-17">30/50</div>
            <div class="basil-location-2">
                <div class="group-4">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <div class="people-icon-1">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <p class="text-wrapper-12">Khoa Thống kê - Tin học</p>
            <div class="frame-10">
                <div class="text-wrapper-13">Đã kết thúc</div>
            </div>
        </div>
        <div class="frame-11">
            <div class="background-2">
                <div class="lp-k-hoch-kinh-doanh"></div>
            </div>
            <img class="image-2" src="assets/images/event_4.png" />
            <div class="frame-5">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-5">18/10/2025</div>
            </div>
            <div class="frame-6">
                <div class="rectangle-5"></div>
                <div class="text-wrapper-6">Đã kết thúc</div>
            </div>
            <div class="text-wrapper-18">React Workshop 2025</div>
            <p class="text-wrapper-19">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
            <div class="div-wrapper">
                <div class="text-wrapper-9">Workshop</div>
            </div>
            <div class="mingcute-time-line-2">
                <div class="group-3">
                    <i class="fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="element-3">10:00 -12:30</div>
            <div class="text-wrapper-20">Hội trường A</div>
            <div class="text-wrapper-21">30/50</div>
            <div class="basil-location-3">
                <div class="group-4">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <div class="people-icon-2">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <p class="text-wrapper-12">Khoa Thống kê - Tin học</p>
            <div class="frame-10">
                <div class="text-wrapper-13">Đã kết thúc</div>
            </div>
        </div>
        <div class="frame-12">
            <div class="background-2">
                <div class="xu-hng-cng-ngh-trong"></div>
            </div>
            <img class="image-2" src="assets/images/event_2.png" />
            <div class="frame-5">
                <div class="rectangle-2"></div>
                <div class="text-wrapper-5">18/10/2025</div>
            </div>
            <div class="frame-6">
                <div class="rectangle-3"></div>
                <div class="text-wrapper-6">Sắp diễn ra</div>
            </div>
            <p class="text-wrapper-7">Xu hướng công nghệ trong kinh doanh</p>
            <p class="text-wrapper-8">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
            <div class="div-wrapper">
                <div class="text-wrapper-9">Workshop</div>
            </div>
            <div class="mingcute-time-line">
                <div class="group-3">
                    <i class="fa-solid fa-clock"></i>
                </div>
            </div>
            <div class="element">10:00 -12:30</div>
            <div class="text-wrapper-10">Hội trường A</div>
            <div class="text-wrapper-11">50/50</div>
            <div class="basil-location">
                <div class="group-4">
                    <i class="fa-solid fa-location-dot"></i>
                </div>
            </div>
            <div class="people-icon">
                <i class="fa-solid fa-people-group"></i>
            </div>
            <p class="text-wrapper-12">Khoa Thống kê - Tin học</p>
            <div class="frame-13">
                <div class="text-wrapper-13">Đã kết thúc</div>
            </div>
        </div>
        <div class="frame-14">
            <div class="rectangle-6"></div>
            <div class="text-wrapper-22">Tìm kiếm sự kiện</div>
            <div class="text-wrapper-23">Loại sự kiện</div>
            <div class="text-wrapper-24">Khoa</div>
            <div class="text-wrapper-25">Trạng thái</div>
            <div class="rectangle-7"></div>
            <div class="iconamoon-search"><i class="fa-solid fa-magnifying-glass"></i></div>
            <div class="component">
                <div class="text-wrapper-26">Tất cả</div>
            </div>
            <div class="frame-15">
                <div class="text-wrapper-27">Tất cả</div>
                <div class="gridicons-dropdown"><i class="fa-solid fa-caret-down"></i></div>
            </div>
            <div class="frame-16">
                <div class="text-wrapper-27">Tất cả</div>
                <div class="gridicons-dropdown"><i class="fa-solid fa-caret-down"></i></div>
            </div>
            <div class="t-t-c-wrapper">
                <div class="t-t-c">Workshop</div>
            </div>
            <div class="component-2">
                <div class="t-t-c">Seminar</div>
            </div>
            <div class="component-3">
                <div class="t-t-c">Hội thảo</div>
            </div>
        </div>
        <div class="frame-17">
            <div class="frame-18">
                <i class="fa-solid fa-angle-double-left"></i>
            </div>
            <div class="frame-19">
                <div class="text-wrapper-28">1</div>
            </div>
            <div class="frame-20">
                <div class="text-wrapper-29">2</div>
            </div>
            <div class="frame-18">
                <i class="fa-solid fa-angle-double-right"></i>
            </div>
        </div>
        <div class="frame-26">
            <div class="text-wrapper-43">Danh sách sự kiện</div>
        </div>
        <div class="frame-27">
            <div class="text-wrapper-44">Đăng kí của tôi</div>
        </div>
    </div>
</div>

