<%- include('partials/header') %>
<link rel="stylesheet" href="/assets/css/my_event.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

<div class="s-KIN-CA-TI">
  <!-- BANNER -->
  <div class="banner-section">
    <img class="banner" src="/assets/images/banner.png" alt="Banner" />
    <div class="banner-overlay"></div>
    <div class="banner-title">SỰ KIỆN TẠI DUE</div>
    <p class="banner-subtitle">Khám phá và đăng ký tham gia các workshop, seminar và hội thảo chuyên môn</p>
  </div>

  <!-- TIÊU ĐỀ + 3 CARD SẮP TỚI -->
  <div class="heading-s-ki-n-s-p">Sự kiện sắp tới</div>

  <div class="frame">
    <img class="image" src="/assets/images/event_1.png" />
    <div class="div"><div class="rectangle"></div><div class="text-wrapper">18/10/2025</div></div>
    <div class="frame-2"><div class="rectangle-2"></div><div class="text-wrapper-2">Sắp diễn ra</div></div>
    <p class="p">Lập kế hoạch kinh doanh trên 1 trang giấy</p>
    <p class="text-wrapper-3">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
    <div class="div-wrapper"><div class="text-wrapper-4">Workshop</div></div>
    <div class="mingcute-time-line"><div class="group-3"><i class="fa-solid fa-clock"></i></div></div>
    <div class="element">10:00 -12:30</div>
    <div class="text-wrapper-5">Hội trường A</div>
    <div class="text-wrapper-6">30/50</div>
    <div class="basil-location"><div class="group-4"><i class="fa-solid fa-location-dot"></i></div></div>
    <div class="people-icon"><i class="fa-solid fa-people-group"></i></div>
    <p class="text-wrapper-7">Khoa Thống kê - Tin học</p>
    <div class="frame-3"><div class="text-wrapper-8">Xem chi tiết</div></div>
  </div>

  <div class="frame-5">
    <img class="image" src="/assets/images/event_2.png" />
    <div class="div"><div class="rectangle"></div><div class="text-wrapper">18/10/2025</div></div>
    <div class="frame-2"><div class="rectangle-2"></div><div class="text-wrapper-2">Sắp diễn ra</div></div>
    <p class="p">Xu hướng công nghệ trong kinh doanh</p>
    <p class="text-wrapper-3">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
    <div class="div-wrapper"><div class="text-wrapper-13">Seminar</div></div>
    <div class="mingcute-time-line"><div class="group-3"><i class="fa-solid fa-clock"></i></div></div>
    <div class="element">10:00 -12:30</div>
    <div class="text-wrapper-5">Hội trường A</div>
    <div class="text-wrapper-6">30/50</div>
    <div class="basil-location"><div class="group-2"><i class="fa-solid fa-location-dot"></i></div></div>
    <div class="people-icon"><i class="fa-solid fa-people-group"></i></div>
    <p class="text-wrapper-7">Khoa Thống kê - Tin học</p>
    <div class="frame-3"><div class="text-wrapper-8">Xem chi tiết</div></div>
  </div>

  <div class="frame-6">
    <img class="image" src="/assets/images/event_3.png" />
    <div class="div"><div class="rectangle"></div><div class="text-wrapper">18/10/2025</div></div>
    <div class="frame-2"><div class="rectangle-2"></div><div class="text-wrapper-2">Sắp diễn ra</div></div>
    <p class="text-wrapper-14">Kỹ năng lãnh đạo hiệu quả</p>
    <p class="text-wrapper-15">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
    <div class="div-wrapper"><div class="text-wrapper-16">Hội thảo</div></div>
    <div class="mingcute-time-line-2"><div class="group-3"><i class="fa-solid fa-clock"></i></div></div>
    <div class="element-3">10:00 -12:30</div>
    <div class="text-wrapper-17">Hội trường A</div>
    <div class="text-wrapper-18">30/50</div>
    <div class="basil-location-3"><div class="group-2"><i class="fa-solid fa-location-dot"></i></div></div>
    <div class="people-icon-3"><i class="fa-solid fa-people-group"></i></div>
    <p class="text-wrapper-7">Khoa Thống kê - Tin học</p>
    <div class="frame-3"><div class="text-wrapper-8">Xem chi tiết</div></div>
  </div>

  <!-- SỰ KIỆN ĐÃ THAM GIA -->
  <p class="heading-s-ki-n">Sự kiện đã tham gia</p>
  <a href="/" class="quay-l-i"><i class="fa-solid fa-arrow-left"></i> Quay lại</a>

  <hr class="line"/><hr class="line-2"/><hr class="line-3"/><hr class="line-4"/>
  <div class="weui-arrow-outlined"><i class="fa-solid fa-chevron-left vector-11"></i></div>
  <div class="vector-wrapper"><i class="fa-solid fa-chevron-right vector-12"></i></div>
  <hr class="line-5"/><hr class="line-6"/><hr class="line-7"/><hr class="line-8"/>

  <div class="frame-4">
    <img class="image" src="/assets/images/event_4.png" />
    <div class="div"><div class="rectangle"></div><div class="text-wrapper">18/10/2025</div></div>
    <div class="frame-2"><div class="rectangle-2"></div><div class="text-wrapper-2">Sắp diễn ra</div></div>
    <a href="/event_review" class="text-wrapper-9">React Workshop 2025</a>
    <p class="text-wrapper-10">Hội thảo về xu hướng công nghệ tài chính và sự chuyển đổi số trong ngh...</p>
    <div class="div-wrapper"><div class="text-wrapper-4">Workshop</div></div>
    <div class="group-wrapper"><div class="group"><i class="fa-solid fa-clock"></i></div></div>
    <div class="element-2">10:00 -12:30</div>
    <div class="text-wrapper-11">Hội trường A</div>
    <div class="text-wrapper-12">30/50</div>
    <div class="basil-location-2"><div class="group-2"><i class="fa-solid fa-location-dot"></i></div></div>
    <div class="people-icon-2"><i class="fa-solid fa-people-group"></i></div>
    <p class="text-wrapper-7">Khoa Thống kê - Tin học</p>
    <a href="/event_review" class="frame-3"><div class="text-wrapper-8">Gửi đánh giá</div></a>
  </div>
</div>

<%- include('partials/footer') %>